* {
    margin: 0;
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#header ul {
    display: flex;
    list-style-type: none;
    column-gap: 12px;
}

#hero {
    flex: 1;
    display: flex;
    margin: 50px;
}

#hero #hero-text {
    flex: 1;
}

#hero img {
    flex: 1;

    /* width: 400px; */
    /* height: ; */

    

}

#info {
    flex: 1;
    display: flex;
    column-gap: 25px;
    align-items: center;
    justify-content: center;
}

#info .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

#info img {
    width:200px;
    height:auto;
}

#qoute {

    flex: 1 ;
}

#sign-up{
    flex: 1;
    display: flex;
    justify-content: space-around;
}
